@use '../abstracts/' as *;

#projectPage{
    padding: 1rem;

  h1 {
    font-weight: bolder;
    font-size: 3rem;
    padding-top: 1rem;
  }
  .card {
    padding: 1rem auto;
    margin: 0.5rem auto;
  }
}